span {
  transition: all 200ms 0s ease;
}
body {
  text-align: center;
}
.add-color {
  color: #777;
}
.hided {
  display: none;
}
#count {
  font-size: 50px;
  text-align: left;
  margin: 0 0 0 0px;
  letter-spacing: 0;
  color: #666;
}
.sentence {
  font-size: 1.5em;
  color: #666;
}
#wrap {
  transition: all 50ms 0s ease;
  text-align: center;
  margin-top: 0px;
  padding: 20px 10px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}
#text {
  font-size: 3em;
}
#question {
  font-size: 2em;
  font-weight: bold;
}
#answer {
  font-size: 3em;
  color: #666;
}
#flex {
  display: none;
  justify-content: space-between;
}
#position-fixing {
  position: absolute;
  bottom: 100px;
}
